html,
body {
  padding: 0;
  margin: 0;
  font-family: Bangers;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.gorilla {
  position: absolute;
  left: 40px;
  bottom: 10px;
}
.rose1 {
  position: absolute;
  right: 0;
  top: -87px;
}
.rose2 {
  position: absolute;
  left: 0;
  top: 300px;
}
.scream {
  position: absolute;
  right:100px;
  top: 300px;
  z-index:999;
}
.rose3 {
  position: absolute;
  right: 0;
  top: 200px;
}
.muscle {
  position: absolute;
  left:20px;
  top: 130px;
  z-index:999;
}
.rose4 {
  position: absolute;
  left: 0;
  bottom: -120px;
}
.wise {
  position: absolute;
  right:0;
  top: -250px;
  z-index:999;
}
.monopoly {
  position: absolute;
  right:20px;
  bottom: -250px;
  z-index:999;
}
.rose5 {
  position: absolute;
  right:0;
  bottom: -500px;
  z-index:999;
}
.rose6 {
  position: absolute;
  left:0;
  bottom: 0;
  z-index:999;
}
.rose7 {
  position: absolute;
  right:0;
  bottom: 0;
  z-index:999;
}
.diamond1 {
  position: absolute;
  left:100px;
  bottom: -250px;
  z-index:999;
}
@media only screen and (max-width: 1250px) {
  .gorilla {
    display: none;
  }
  .rose1 {
    display: none;
  }
  .rose2 {
    display: none;
  }
  .rose3 {
    display: none;
  }
  .rose4 {
    display: none;
  }
  .rose5 {
    display: none;
  }
  .rose6 {
    display: none;
  }
  .rose7 {
    display: none;
  }
  .scream {
    display: none;
  }
  .muscle {
    display: none;
  }
  .wise {
    display: none;
  }
  .monopoly {
    display: none;
  }
  .diamond1 {
    display: none;
  }
}
